@media screen and (max-width:670px) {

    .datatable-wrap.my-3 {
        max-width: 50vh;
        overflow: auto;
        height: 50vh;
    }

}
@media screen and (max-width:712px) {

    .datatable-wrap.my-3 {
        max-width: 90vh;
        overflow: auto;
        height: 50vh;
    }

}
